* {
    font-family: Verdana, Arial, sans-serif;
    
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    color: #33F;
}

.button {
    background: -webkit-linear-gradient(top, #008dfd 0, #0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
}

.center {
    padding: 10px;
    text-align: center;
}

.final {
    color: black;
    padding-right: 3px;
}

.interim {
    color: gray;
}

.info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
}

.right {
    float: right;
}

.sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
}

#headline {
    font-size: 40px;
    font-weight: 300;
}

#info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
}

#results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
}

#start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;
    width: 100%;
    -webkit-box-shadow: border-box;
    -moz-box-shadow: border-box;
    box-shadow: border-box;
    resize: none;
    /*remove the resize handle on the bottom right*/
}

body {
    font-family: Arial;
}


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*This is the mic when the speech will be there*/


#speech.btn {
	border: none;
  padding: 0;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-size: 3.5em;
  color: #fff;
  padding: 0;
  margin: 0;
  background: lightgreen;
	position: relative;
  display: inline-block;
    line-height: 50px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
}

.pulse-ring {
  content: '';
  width: 100px;
  height: 100px;
  border: 5px solid skyblue;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
	background-color:green;
  animation: pulsate infinite 2s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.container {
	display: none;
  align-items: center;
  justify-content: center;
	height: 120px;
	background-color: white;
}
/* This is the mic when the speech will be there */
#StyleButtons
{
    /* border: 1px solid black; */
    width: 500px;
    box-shadow: 2px 2px 2px 2px grey;
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    height: 70px;
    line-height: 70px;
    
}
.boldIt
{
    font-weight: 900;
}
.italicIt
{
    font-style: italic;
}
.underlineIt
{
    text-decoration: underline;
}
#controls
{
    display: flex;
    height: 40px;
    position: relative;
    top: 20%;
}
.tabit
{
    margin-left: 30px;
}
#removetab
{
    display: none;
    margin-left: 10%;
}
#tabbtn
{
    margin-left: 10%;
}
#final_span
{
    height: 200px;
    font-weight: lighter;
    border: none;
    overflow-y: scroll;
}

.form-control
{
    margin-left: 1%;
}
/* /////////////////////////////////////////////This is for the text editor/////////////////////// */
.intLink { cursor: pointer;  }
                img.intLink { border: 0; width: 30px;}
                #toolBar1
                {
                    margin-top: 2%;
                    margin-bottom: 2%;
                }
                #toolBar1 select { font-size:16px; margin-left: 1%; width: 150px;}
                
                #textBox #sourceText {
                  padding: 0;
                  margin: 0;
                  min-width: 498px;
                  min-height: 200px;
                }
                #editMode label { cursor: pointer; }
                .heading{
                    font-weight: bolder;

                }
                #toolBar1{
                    display: flex;
                }

/* /////////////////////////////////////////////This is for the text editor/////////////////////// */
#putbreak{
    display: none;
}
#toolBar0{
    display: none;    
}

/* For making responsive */
@media all and (max-width:1000px) 
{
    /* #toolBar1{
        display: inline;
    }
    .make-margin{
        
        margin-left: 500px;
    } */
    #toolBar1 select { font-size:12px; margin-left: 1%; max-width: 25%}
}
#TextToSpeech{
    display: none;
}
@media all and (max-width:700px) 
{
    #putbreak{
        display: block;
    }
    /* #toolBar1{
        display: inline;
    }
    .make-margin{
        
        margin-left: 500px;
    } */
    #toolBar1{
       display: none;
    }
    #toolBar0{
display: flex;
/* flex-direction: column; */
    }
}
/* For making responsive */